/* aca defino la paleta de colores del proyect*/

$color1: #76b8b8;
$color2: #8e2761;
$color3: #f073a4;
$color4: #e1aebc;
$color5: white;
$color6: grey;
$lavanda: lavender;
$header_alto: padding 0px ;